@using Microsoft.AspNetCore.Identity
@using System.Globalization
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model LP2MVCWithAuth.Models.ListaTarefas
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="app.css" type="text/css" />

<h2>
    <a asp-controller="Tarefas" asp-action="Add">Criar nova tarefa</a>
</h2>
<br />
<br />


<div class="container">
    @if (Model.Tarefas.Count() > 0)
    {
        <div class="table-wrapper-scroll-y my-custom-scrollbar scrollTable" style="overflow:auto">
            <table class="table table-dark table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data</th>
                        <th scope="col">Status</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Rotas</th>
                        <th scope="col">Deletar</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tarefas)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Titulo</td>
                            <td>@item.Descricao</td>
                            <td>@item.DataEntrega.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@(item.DataEntrega < DateTime.UtcNow ? "Atrasado" : "A ser feito")</td>
                            <td> <a asp-controller="Tarefas" asp-action="edit" asp-route-id="@item.Id"> Editar</a>  </td>
                            <td> <a asp-controller="Tarefas" asp-action="rotas" asp-route-id="@item.Id"> Rotas</a>  </td>
                            <td> <a asp-controller="Tarefas" asp-action="Delete" asp-route-id="@item.Id"> Deletar</a>  </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

